In [1]:
#Get CWD
import os

In [2]:
path = os.getcwd()

In [3]:
path

'C:\\Users\\gibra\\Desktop\\Data Science 2023\\Portfolio\\SQL\\SQL with Python'

# **Library for SQL in Python**

In [4]:
#Import SQL
import sqlite3

In [5]:
# Connect to a database (creates a new database if it doesn't exist)
conn = sqlite3.connect('database.db')

In [6]:
#Create a cursor object to execute SQL statements
cursor = conn.cursor()

# **Drop** a table

In [7]:
#If the table PETSALE already exists, drop the table
#cursor.execute('''drop table PETSALE''')

# **Create** a table

Task 1: Create the INSTRUCTOR table as defined above. 

Have the ins_id be the primary key, and ensure the lastname and firstname are not null.

(Hint: ins_id is of type INTEGER, country of type CHAR(2), and rest of the fields VARCHAR)

In [8]:
cursor.execute('''create table PETSALE (
            ID integer NOT NULL,
            ANIMAL varchar(20),
            QUANTITY integer,
            SALEPRICE decimal(6,2),
            SALEDATE date,
            PRIMARY KEY (ID))''')

# **Fill up** table

In [9]:
#Insert set of values at once
cursor.execute('''insert into PETSALE 
                VALUES 
                (1,'Cat',9,450.09,'2018-05-29'),
                (2,'Dog',3,666.66,'2018-06-01'),
                (3,'Dog',1,100.00,'2018-06-04'),
                (4,'Parrot',2,50.00,'2018-06-04'),
                (5,'Dog',1,75.75,'2018-06-10'),
                (6,'Hamster',6,60.60,'2018-06-11'),
                (7,'Cat',1,44.44,'2018-06-11'),
                (8,'Goldfish',24,48.48,'2018-06-14'),
                (9,'Dog',2,222.22,'2018-06-15')''')

# **Built-in Functions**

## **Sum**

In [10]:
'''This query returns the sum of the values of the specified column'''
sum_function = f"SELECT SUM(SALEPRICE) FROM PETSALE"
cursor.execute(sum_function)
total_sales = cursor.fetchone()[0] # We use fetchone as we only need to retrieve the next row from our query result (only one row produced from this command)

total_sales

1718.24

In [11]:
'''This query ADDS up all the values in the SALESPRICE column and names it as SUM_SALEPRICE.
In order for AS to work on this cursor, we activate row factory so that the results are displayed as class row and not as tupples. 
Rows are usefull as they provide indexed case-sensitive named access to columns
You can also activate row factory for the entire console with conn.row_factory = sqlite3.Row'''

sum_function = f"SELECT SUM(SALEPRICE) AS SUM_SALEPRICE FROM PETSALE"
cursor.row_factory = sqlite3.Row # We activate row_factories for this cursor.
cursor.execute(sum_function)
result = cursor.fetchone()
#result.keys()
result['SUM_SALEPRICE']

1718.24

In [12]:
cursor.row_factory = None # To de-activate row_factories for this cursor.

## **Max**

In [13]:
'''This query gets the max quantity of any animal sold from the PETSALE table'''
max_function = f"SELECT MAX(QUANTITY) FROM PETSALE"
cursor.execute(max_function)
max_qty = cursor.fetchone() # We use fetchone as we only need to retrieve the next row from our query result (only one row produced from this command)

max_qty

(24,)

### **Max Group By**

In [14]:
'''This query gets the maximum amount of each animal that has been sold in one sale'''
max_groupby_function = f"SELECT ANIMAL, MAX(QUANTITY) FROM PETSALE GROUP BY ANIMAL"
cursor.execute(max_groupby_function)
max_group_qty = cursor.fetchall() 

for row in cursor.execute(max_groupby_function):
    Animal, qty = row
    print(f"Animal: {Animal}, Max sold in one transaction: {qty}")

Animal: Cat, Max sold in one transaction: 9
Animal: Dog, Max sold in one transaction: 3
Animal: Goldfish, Max sold in one transaction: 24
Animal: Hamster, Max sold in one transaction: 6
Animal: Parrot, Max sold in one transaction: 2

### **Max Group By AS**

In [15]:
'''This query gets the maximum amount of each animal that has been sold in one sale'''
max_groupby_alias_function = f"SELECT ANIMAL, MAX(QUANTITY) AS AMOUNT FROM PETSALE GROUP BY ANIMAL"
cursor.row_factory = sqlite3.Row
#cursor.execute(max_groupby_alias_function) #We will execute in our for loop to avoid using fetch
#max_group_qty = cursor.fetchall() # We won't use fetchall because the alias gets lost

for row in cursor.execute(max_groupby_alias_function):
    print(row['ANIMAL'], row['AMOUNT'])

Cat 9
Dog 3
Goldfish 24
Hamster 6
Parrot 2

In [16]:
cursor.row_factory = None # To de-activate row_factories for this cursor.

## **Where**

In [17]:
'''This query gets the max quantity of any animal sold from the PETSALE table and the animal sold, using a where statement'''
max_where_function = f"SELECT ANIMAL, QUANTITY FROM PETSALE WHERE QUANTITY =(SELECT MAX(QUANTITY) FROM PETSALE)"
#cursor.execute(max_where_function) #We will execute in our for loop to avoid using fetch
#max_group_qty = cursor.fetchall() # We won't use fetchall because the alias gets lost

for row in cursor.execute(max_where_function):
    print(row)

('Goldfish', 24)

In [18]:
'''This functions gets the minimum amount of dogs sold in the store '''
min_dogs_where = f"SELECT ANIMAL, MIN(QUANTITY) FROM PETSALE WHERE ANIMAL = 'Dog'"
cursor.execute(min_dogs_where) 
result = cursor.fetchall()

for row in result:
    print(row)

('Dog', 1)

## **AVG**

In [19]:
'''This query is used to get the average saleprice of the PETSALE table'''
avg_query = f"SELECT AVG(SALEPRICE) FROM PETSALE"
cursor.execute(avg_query)
rows = cursor.fetchone()

for row in rows:
    print(row)

190.91555555555556

In [20]:
'''This query is used to get the average saleprice of DOGS in the PETSALE table'''
avg_query = f"SELECT AVG(SALEPRICE) FROM PETSALE WHERE ANIMAL = 'Dog'"
cursor.execute(avg_query)
rows = cursor.fetchone()

for row in rows:
    print(row)

266.15749999999997

## **ROUND**

In [21]:
'''This query rounds up or down every value in SALEPRICE'''
round_query = f"SELECT ROUND(SALEPRICE) FROM PETSALE"
cursor.execute(round_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(450.0,)
(667.0,)
(100.0,)
(50.0,)
(76.0,)
(61.0,)
(44.0,)
(48.0,)
(222.0,)

## **Length**

In [22]:
'''This query gets the length of each value in ANIMAL'''
length_query = f"SELECT LENGTH(ANIMAL) FROM PETSALE"
cursor.execute(length_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(3,)
(3,)
(3,)
(6,)
(3,)
(7,)
(3,)
(8,)
(3,)

## **Cases**

### **Uppercase**

In [23]:
'''This query retrieves ANIMAL values in uppercase'''
upcase_query = f"SELECT UPPER(ANIMAL) FROM PETSALE"
cursor.execute(upcase_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('CAT',)
('DOG',)
('DOG',)
('PARROT',)
('DOG',)
('HAMSTER',)
('CAT',)
('GOLDFISH',)
('DOG',)

### **Lowercase**

In [24]:
'''This query retrieves ANIMAL values in lowercase'''
lcase_query = f"SELECT LOWER(ANIMAL) FROM PETSALE"
cursor.execute(lcase_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('cat',)
('dog',)
('dog',)
('parrot',)
('dog',)
('hamster',)
('cat',)
('goldfish',)
('dog',)

### **Application**

In [25]:
'''Uper/lowercase is particulary useful when we want to use a filter (where) but we can't recall if our text is in upper or lower case'''
w_lcase_query = f"SELECT * from PETSALE WHERE LOWER(ANIMAL) = 'cat'"
cursor.execute(w_lcase_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Cat', 9, 450.09, '2018-05-29')
(7, 'Cat', 1, 44.44, '2018-06-11')

## **Unique**

In [32]:
'''This querry gets the unique values from the ANIMAL column, and displays it in lowercase.'''
unique_query = f"SELECT DISTINCT(LOWER(ANIMAL)) FROM PETSALE"
cursor.execute(unique_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('cat',)
('dog',)
('parrot',)
('hamster',)
('goldfish',)

## **Dates**

In [40]:
'''This querry gets the Day portion of a date in PETSALE.
%d, %W, %m, %Y, %H, %M, and %S represent the day, week, month, year, hour, minute, and second components, respectively.'''
day_query = f"SELECT strftime('%d', SALEDATE) FROM PETSALE"
cursor.execute(day_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('29',)
('01',)
('04',)
('04',)
('10',)
('11',)
('11',)
('14',)
('15',)

In [49]:
'''This querry gets the day of week from the SALEDATE column in PETSALE.
%w represents the day of the week in number, where 0 is sunday and 6 is Saturday'''
day_week_query = f"SELECT strftime('%w', SALEDATE) FROM PETSALE"
cursor.execute(day_week_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('2',)
('5',)
('1',)
('1',)
('0',)
('1',)
('1',)
('4',)
('5',)

In [55]:
'''This querry gets the number of sales in the month of May'''
may_query = f"SELECT COUNT(*) FROM PETSALE WHERE strftime('%m', SALEDATE) = '05'"
cursor.execute(may_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(1,)

In [91]:
'''This querry gets the date 3 days after the sale date'''
three_days_query = f"SELECT SALEDATE, date(SALEDATE, + '3 days') FROM PETSALE"
cursor.execute(three_days_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('2018-05-29', '2018-06-01')
('2018-06-01', '2018-06-04')
('2018-06-04', '2018-06-07')
('2018-06-04', '2018-06-07')
('2018-06-10', '2018-06-13')
('2018-06-11', '2018-06-14')
('2018-06-11', '2018-06-14')
('2018-06-14', '2018-06-17')
('2018-06-15', '2018-06-18')

In [92]:
'''This querry gets the date 3 days after the sale date'''
three_days_query = f"SELECT STRFTIME('%d', 'now') - STRFTIME('%d', SALEDATE) FROM PETSALE"
cursor.execute(three_days_query)
rows = cursor.fetchall()

for row in rows:
    print(row)

(-14,)
(14,)
(11,)
(11,)
(5,)
(4,)
(4,)
(1,)
(0,)

In [93]:
cursor.execute("SELECT * FROM PETSALE")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Cat', 9, 450.09, '2018-05-29')
(2, 'Dog', 3, 666.66, '2018-06-01')
(3, 'Dog', 1, 100, '2018-06-04')
(4, 'Parrot', 2, 50, '2018-06-04')
(5, 'Dog', 1, 75.75, '2018-06-10')
(6, 'Hamster', 6, 60.6, '2018-06-11')
(7, 'Cat', 1, 44.44, '2018-06-11')
(8, 'Goldfish', 24, 48.48, '2018-06-14')
(9, 'Dog', 2, 222.22, '2018-06-15')

In [96]:
conn.close()