In [1]:
#Get CWD
import os

In [2]:
path = os.getcwd()

In [3]:
path

'C:\\Users\\gibra\\Desktop\\Data Science 2023\\Portfolio\\SQL\\SQL with Python'

# **Library for SQL in Python**

In [4]:
#Import SQL
import sqlite3

In [5]:
# Connect to a database (creates a new database if it doesn't exist)
conn = sqlite3.connect('database.db')

In [6]:
#Create a cursor object to execute SQL statements
cursor = conn.cursor()

# **Drop** a table

In [18]:
#If the table INSTRUCTOR already exists, drop the table
#cursor.execute('''drop table INSTRUCTOR''')

# **Create** a table

Task 1: Create the INSTRUCTOR table as defined above. 

Have the ins_id be the primary key, and ensure the lastname and firstname are not null.

(Hint: ins_id is of type INTEGER, country of type CHAR(2), and rest of the fields VARCHAR)

In [8]:
cursor.execute('''create table INSTRUCTOR (
            ins_id integer NOT NULL,
            lastname varchar(60) NOT NULL,
            firstname varchar(60) NOT NULL,
            city varchar(30),
            country char(2),
            PRIMARY KEY (ins_id))''')

# **Insert** a row

Task 2.A: Insert one raw into the table for instructor Rav Ahuja

In [9]:
# Insert data into the table
cursor.execute("insert into INSTRUCTOR (ins_id, lastname, firstname, city, country) VALUES (?, ?, ?, ?, ?)", (1, 'Ahuja','Rav','Toronto','CA'))

Task 2.B . - Insert two rows at once for instructors Raul and Hima.

In [10]:
#Insert 2 set of values at once
cursor.execute('''insert into INSTRUCTOR (ins_id, lastname, firstname, city, country) 
                VALUES 
                (2, 'Chong','Raul','Toronto','CA'),
                (3, 'Vasudevan','Hima','Chicago','US')''')

# **Queries**

Task 3 - Select all rows from the instructor table

In [11]:
all_query = "select * from INSTRUCTOR" 
cursor.execute(all_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ahuja', 'Rav', 'Toronto', 'CA')
(2, 'Chong', 'Raul', 'Toronto', 'CA')
(3, 'Vasudevan', 'Hima', 'Chicago', 'US')

In [12]:
type(rows)

list

Task 3B - Select the first name, last name and country where the city is Toronto

In [13]:
cursor.execute('''select firstname, lastname, country from INSTRUCTOR where city = 'Toronto' ''')
rows = cursor.fetchall()
for row in rows:
    print(row)

('Rav', 'Ahuja', 'CA')
('Raul', 'Chong', 'CA')

# **Update** data

Task 4: Update the row for Rav Ahuja and change his city to Markham.

In [14]:
cursor.execute('''update INSTRUCTOR set city='Markham' where ins_id=1''')

# **Delete** a row

Task 5: Delete the row for Raul Chong from the table

In [15]:
query = 'delete from INSTRUCTOR where ins_id =2'
cursor.execute(query)

Task 5B: Retrieve all rows in the INSTRUCTOR table

In [16]:
cursor.execute(all_query)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ahuja', 'Rav', 'Markham', 'CA')
(3, 'Vasudevan', 'Hima', 'Chicago', 'US')

# **Commit** changes to a Table

In [17]:
conn.commit()
conn.close()