In [1]:
import os
import pandas as pd

In [2]:
current_directory = os.getcwd()
parent_directry = os.path.dirname(current_directory)
database_directory = parent_directry + '\\sqlite3'

In [3]:
database_directory

'C:\\Users\\gibra\\Desktop\\Data Science\\Portfolio\\SQL\\sqlite3'

# **Library for SQL in Python**

In [4]:
#Import SQL
import sqlite3

In [5]:
# Connect to a database (creates a new database if it doesn't exist)
conn = sqlite3.connect(database_directory + '\\database.db')

In [6]:
#Create a cursor object to execute SQL statements
cursor = conn.cursor()

# Chicago Public Schools Data

## Load data into a csv and export to sql

In [7]:
'''In order to convert a pandas DataFrame into a table for our SQL database,
so that it can be accessed and queried using SQL commands, we can use the pandas dataframe to_sql() function.'''
#For example: Let's load data from the Chicago open data portal about socieconomic indicators in the city. 
# The data will be load from a csv file into a pandas dataframe, and then persisted to our database
public_schools_df = pd.read_csv('https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv')
public_schools_df.to_sql('public_schools_data', conn, if_exists='replace', index=False)

566

In [8]:
public_schools_df.head()

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [9]:
public_schools_df[['COMMUNITY_AREA_NAME','COLLEGE_ENROLLMENT']].sort_values(by='COLLEGE_ENROLLMENT', ascending=False)

    COMMUNITY_AREA_NAME  COLLEGE_ENROLLMENT
6          NORTH CENTER                4368
357      ARCHER HEIGHTS                3320
545        NORWOOD PARK                2922
508       BRIGHTON PARK                2883
60          IRVING PARK                2366
..                  ...                 ...
318      NORTH LAWNDALE                  83
372      NORTH LAWNDALE                  48
520           ENGLEWOOD                  44
320     CALUMET HEIGHTS                  26
386      NEAR WEST SIDE                  21

[566 rows x 2 columns]

In [10]:
'''Getting a list of tables in our database'''
tables_query = "SELECT name FROM sqlite_master WHERE type='table'"
cursor.execute(tables_query)
rows = cursor.fetchall()

# Print the metadata
for row in rows:
    print("\t".join(map(str,row)))

INSTRUCTOR
PETSALE
EMPLOYEES
JOB_HISTORY
JOBS
DEPARTMENTS
LOCATIONS
socioeconomic_data
public_schools_data

In [11]:
'''Getting table metadata:'''
metadata_query = f"PRAGMA table_info(public_schools_data)"
cursor.execute(metadata_query)

# Fetch all rows returned by the PRAGMA command
rows = cursor.fetchall()

#List of attributes received by PRAGMA
att_list = ["ID\t","Name\t","\tType\t","#_Null","Default","Is_primary_Key?"]

# Print the metadata
print(" ".join(map(str,att_list)))
for row in rows:
    print("\t".join(map(str,row)))

ID	 Name	 	Type	 #_Null Default Is_primary_Key?
0	School ID	INTEGER	0	None	0
1	NAME_OF_SCHOOL	TEXT	0	None	0
2	Elementary, Middle, or High School	TEXT	0	None	0
3	Street Address	TEXT	0	None	0
4	City	TEXT	0	None	0
5	State	TEXT	0	None	0
6	ZIP Code	INTEGER	0	None	0
7	Phone Number	TEXT	0	None	0
8	Link 	TEXT	0	None	0
9	Network Manager	TEXT	0	None	0
10	Collaborative Name	TEXT	0	None	0
11	Adequate Yearly Progress Made? 	TEXT	0	None	0
12	Track Schedule	TEXT	0	None	0
13	CPS Performance Policy Status	TEXT	0	None	0
14	CPS Performance Policy Level	TEXT	0	None	0
15	HEALTHY_SCHOOL_CERTIFIED	TEXT	0	None	0
16	Safety Icon 	TEXT	0	None	0
17	SAFETY_SCORE	REAL	0	None	0
18	Family Involvement Icon	TEXT	0	None	0
19	Family Involvement Score	TEXT	0	None	0
20	Environment Icon 	TEXT	0	None	0
21	Environment Score	REAL	0	None	0
22	Instruction Icon 	TEXT	0	None	0
23	Instruction Score	REAL	0	None	0
24	Leaders Icon 	TEXT	0	None	0
25	Leaders Score 	TEXT	0	None	0
26	Teachers Icon 	TEXT	0	None	0
27	Teachers Score	TEXT	0	None	0
28	Parent Engagement Icon 	TEXT	0	None	0
29	Parent Engagement Score	TEXT	0	None	0
30	Parent Environment Icon	TEXT	0	None	0
31	Parent Environment Score	TEXT	0	None	0
32	AVERAGE_STUDENT_ATTENDANCE	TEXT	0	None	0
33	Rate of Misconducts (per 100 students) 	REAL	0	None	0
34	Average Teacher Attendance	TEXT	0	None	0
35	Individualized Education Program Compliance Rate 	TEXT	0	None	0
36	Pk-2 Literacy %	TEXT	0	None	0
37	Pk-2 Math %	TEXT	0	None	0
38	Gr3-5 Grade Level Math %	TEXT	0	None	0
39	Gr3-5 Grade Level Read % 	TEXT	0	None	0
40	Gr3-5 Keep Pace Read %	TEXT	0	None	0
41	Gr3-5 Keep Pace Math %	TEXT	0	None	0
42	Gr6-8 Grade Level Math %	TEXT	0	None	0
43	Gr6-8 Grade Level Read %	TEXT	0	None	0
44	Gr6-8 Keep Pace Math%	TEXT	0	None	0
45	Gr6-8 Keep Pace Read %	TEXT	0	None	0
46	Gr-8 Explore Math %	TEXT	0	None	0
47	Gr-8 Explore Read %	TEXT	0	None	0
48	ISAT Exceeding Math %	REAL	0	None	0
49	ISAT Exceeding Reading % 	REAL	0	None	0
50	ISAT Value Add Math	REAL	0	None	0
51	ISAT Value Add Read	REAL	0	None	0
52	ISAT Value Add Color Math	TEXT	0	None	0
53	ISAT Value Add Color Read	TEXT	0	None	0
54	Students Taking  Algebra %	TEXT	0	None	0
55	Students Passing  Algebra %	TEXT	0	None	0
56	9th Grade EXPLORE (2009) 	TEXT	0	None	0
57	9th Grade EXPLORE (2010) 	TEXT	0	None	0
58	10th Grade PLAN (2009) 	TEXT	0	None	0
59	10th Grade PLAN (2010) 	TEXT	0	None	0
60	Net Change EXPLORE and PLAN	TEXT	0	None	0
61	11th Grade Average ACT (2011) 	TEXT	0	None	0
62	Net Change PLAN and ACT	TEXT	0	None	0
63	College Eligibility %	TEXT	0	None	0
64	Graduation Rate %	TEXT	0	None	0
65	College Enrollment Rate %	TEXT	0	None	0
66	COLLEGE_ENROLLMENT	INTEGER	0	None	0
67	General Services Route 	INTEGER	0	None	0
68	Freshman on Track Rate %	TEXT	0	None	0
69	X_COORDINATE	REAL	0	None	0
70	Y_COORDINATE	REAL	0	None	0
71	Latitude	REAL	0	None	0
72	Longitude	REAL	0	None	0
73	COMMUNITY_AREA_NUMBER	INTEGER	0	None	0
74	COMMUNITY_AREA_NAME	TEXT	0	None	0
75	Ward	INTEGER	0	None	0
76	Police District	INTEGER	0	None	0
77	Location	TEXT	0	None	0

## Question 1: How many elementary schools are in the data set?

In [12]:
elementary_schools_query = 'SELECT COUNT(*) FROM public_schools_data WHERE "Elementary, Middle, or High School" = "ES"'
cursor.execute(elementary_schools_query)
answer = cursor.fetchone()

answer[0]

462

## Question 2: What is the highest Safety Score?

In [13]:
max_safety_score_query = 'SELECT max(SAFETY_SCORE) FROM public_schools_data'
cursor.execute(max_safety_score_query)
answer = cursor.fetchone()

answer[0]

99.0

## Question 3: Which schools have the highest Safety Score?

In [14]:
max_safety_schools_query = 'SELECT NAME_OF_SCHOOL, SAFETY_SCORE FROM public_schools_data WHERE SAFETY_SCORE = (SELECT MAX(SAFETY_SCORE) FROM public_schools_data)'
cursor.execute(max_safety_schools_query)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

Abraham Lincoln Elementary School	99.0
Alexander Graham Bell Elementary School	99.0
Annie Keller Elementary Gifted Magnet School	99.0
Augustus H Burley Elementary School	99.0
Edgar Allan Poe Elementary Classical School	99.0
Edgebrook Elementary School	99.0
Ellen Mitchell Elementary School	99.0
James E McDade Elementary Classical School	99.0
James G Blaine Elementary School	99.0
LaSalle Elementary Language Academy	99.0
Mary E Courtenay Elementary Language Arts Center	99.0
Northside College Preparatory High School	99.0
Northside Learning Center High School	99.0
Norwood Park Elementary School	99.0
Oriole Park Elementary School	99.0
Sauganash Elementary School	99.0
Stephen Decatur Classical Elementary School	99.0
Talman Elementary School	99.0
Wildwood Elementary School	99.0

## Question 4: What are the top 10 schools with the highest "Average Student Attendance"??

In [15]:
max_attendance_schools_query = 'SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM public_schools_data ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC NULLS LAST LIMIT 10'
cursor.execute(max_attendance_schools_query)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

John Charles Haines Elementary School	98.40%
James Ward Elementary School	97.80%
Edgar Allan Poe Elementary Classical School	97.60%
Orozco Fine Arts & Sciences Elementary School	97.60%
Rachel Carson Elementary School	97.60%
Annie Keller Elementary Gifted Magnet School	97.50%
Andrew Jackson Elementary Language Academy	97.40%
Lenart Elementary Regional Gifted Center	97.40%
Disney II Magnet School	97.30%
John H Vanderpoel Elementary Magnet School	97.20%

## Question 5: Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [16]:
min_attendance_schools_query = 'SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM public_schools_data ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST LIMIT 5'
cursor.execute(min_attendance_schools_query)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

Richard T Crane Technical Preparatory High School	57.90%
Barbara Vick Early Childhood & Family Center	60.90%
Dyett High School	62.50%
Wendell Phillips Academy High School	63.00%
Orr Academy High School	66.30%

## Question 6: Now remove the '%' sign from the above result set for Average Student Attendance column

In [17]:
min_attendance_schools_no_perc_query = '''SELECT NAME_OF_SCHOOL, REPLACE(AVERAGE_STUDENT_ATTENDANCE, "%",'') FROM public_schools_data ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST LIMIT 5'''
cursor.execute(min_attendance_schools_no_perc_query)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

Richard T Crane Technical Preparatory High School	57.90
Barbara Vick Early Childhood & Family Center	60.90
Dyett High School	62.50
Wendell Phillips Academy High School	63.00
Orr Academy High School	66.30

## Question 7: Which Schools have Average Student Attendance lower than 70%?

In [18]:
low_attendance_schools = '''SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM public_schools_data WHERE AVERAGE_STUDENT_ATTENDANCE < 70 '''
cursor.execute(low_attendance_schools)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

Barbara Vick Early Childhood & Family Center	60.90%
Chicago Vocational Career Academy High School	68.80%
Dyett High School	62.50%
Manley Career Academy High School	66.80%
Orr Academy High School	66.30%
Richard T Crane Technical Preparatory High School	57.90%
Roberto Clemente Community Academy High School	69.60%
Wendell Phillips Academy High School	63.00%

In [19]:
'''Sometimes you need to convert the variable to double or decimals:'''
low_attendance_schools = '''SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM public_schools_data WHERE CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 '''
cursor.execute(low_attendance_schools)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

Barbara Vick Early Childhood & Family Center	60.90%
Chicago Vocational Career Academy High School	68.80%
Dyett High School	62.50%
Manley Career Academy High School	66.80%
Orr Academy High School	66.30%
Richard T Crane Technical Preparatory High School	57.90%
Roberto Clemente Community Academy High School	69.60%
Wendell Phillips Academy High School	63.00%

## Question 8: Get the total College Enrollment for each Community Area

In [20]:
college_enrollment_by_area_query = '''SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT FROM public_schools_data GROUP BY COMMUNITY_AREA_NAME ORDER BY TOTAL_ENROLLMENT ASC'''
cursor.execute(college_enrollment_by_area_query)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

OAKLAND	140
FULLER PARK	531
BURNSIDE	549
OHARE	786
LOOP	871
EDISON PARK	910
HEGEWISCH	963
MONTCLARE	1317
NEAR SOUTH SIDE	1378
FOREST GLEN	1431
ARMOUR SQUARE	1458
AVALON PARK	1522
RIVERDALE	1547
MCKINLEY PARK	1552
CALUMET HEIGHTS	1568
PULLMAN	1620
BEVERLY	1636
JEFFERSON PARK	1755
SOUTH DEERING	1859
HYDE PARK	1930
CLEARING	2085
MOUNT GREENWOOD	2091
WEST GARFIELD PARK	2622
WASHINGTON PARK	2648
GRAND BOULEVARD	2809
BRIDGEPORT	3167
WEST PULLMAN	3240
MORGAN PARK	3271
NEAR NORTH SIDE	3362
AVONDALE	3640
WEST ELSDON	3700
HERMOSA	3975
WASHINGTON HEIGHTS	4006
SOUTH CHICAGO	4043
GREATER GRAND CROSSING	4051
ROGERS PARK	4068
LINCOLN SQUARE	4132
AUBURN GRESHAM	4175
WOODLAWN	4206
WEST LAWN	4207
NORTH PARK	4210
KENWOOD	4287
UPTOWN	4388
SOUTH SHORE	4543
GARFIELD RIDGE	4552
DUNNING	4568
EDGEWATER	4600
DOUGLAS	4670
ARCHER HEIGHTS	4823
CHATHAM	5042
NORTH LAWNDALE	5146
EAST SIDE	5305
EAST GARFIELD PARK	5337
LINCOLN PARK	5615
WEST ENGLEWOOD	5946
NORWOOD PARK	6469
ASHBURN	6483
ENGLEWOOD	6832
ALBANY PARK	6864
PORTAGE PARK	6954
ROSELAND	7020
LAKE VIEW	7055
CHICAGO LAWN	7086
LOWER WEST SIDE	7257
LOGAN SQUARE	7351
NORTH CENTER	7541
IRVING PARK	7764
NEW CITY	7922
NEAR WEST SIDE	7975
WEST RIDGE	8197
HUMBOLDT PARK	8620
WEST TOWN	9429
BRIGHTON PARK	9647
GAGE PARK	9915
AUSTIN	10933
BELMONT CRAGIN	14386
SOUTH LAWNDALE	14793

## Question 9: Get the 5 Community Areas with the least total College Enrollment sorted in ascending order

In [21]:
lower_college_enrollment_by_area_query = '''SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT FROM public_schools_data GROUP BY COMMUNITY_AREA_NAME ORDER BY TOTAL_ENROLLMENT ASC LIMIT 5'''
cursor.execute(lower_college_enrollment_by_area_query)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

OAKLAND	140
FULLER PARK	531
BURNSIDE	549
OHARE	786
LOOP	871

## Question 10: Get the hardship index for the community area which has College Enrollment of 4638

In [22]:
'''Hint: Hardship index is not located in the public_schools_data table, but in the socioeconomic_data table 
created in Exercise 1. Use Join to get the Hardship Index '''

'''Getting table metadata:'''
socieconomic_metadata_query = f"PRAGMA table_info(socioeconomic_data)"
cursor.execute(socieconomic_metadata_query)

# Fetch all rows returned by the PRAGMA command
rows = cursor.fetchall()

#List of attributes received by PRAGMA
att_list = ["ID\t","Name\t","\tType\t","#_Null","Default","Is_primary_Key?"]

# Print the metadata
print(" ".join(map(str,att_list)))
for row in rows:
    print("\t".join(map(str,row)))

ID	 Name	 	Type	 #_Null Default Is_primary_Key?
0	ca	REAL	0	None	0
1	community_area_name	TEXT	0	None	0
2	percent_of_housing_crowded	REAL	0	None	0
3	percent_households_below_poverty	REAL	0	None	0
4	percent_aged_16_unemployed	REAL	0	None	0
5	percent_aged_25_without_high_school_diploma	REAL	0	None	0
6	percent_aged_under_18_or_over_64	REAL	0	None	0
7	per_capita_income_	INTEGER	0	None	0
8	hardship_index	REAL	0	None	0

In [23]:
query = 'SELECT ca FROM socioeconomic_data LIMIT 5'
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print("\t".join(map(str,row)))

1.0
2.0
3.0
4.0
5.0

We can see that the socieconomic data can be joined to the public_schools_data by community_area_number

In [24]:
'''Option A'''
left_outer_join_schools_socioeconomic = f"SELECT P.COMMUNITY_AREA_NAME, P.COLLEGE_ENROLLMENT, S.hardship_index FROM public_schools_data P LEFT OUTER JOIN socioeconomic_data S ON P.COMMUNITY_AREA_NUMBER = S.ca WHERE P.COLLEGE_ENROLLMENT = 4368"
cursor.execute(left_outer_join_schools_socioeconomic)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

NORTH CENTER	4368	6.0

In [25]:
'''Option B'''
left_outer_join_schools_socioeconomic_b = f"SELECT PSD.COMMUNITY_AREA_NAME, COLLEGE_ENROLLMENT, hardship_index FROM socioeconomic_data SD, public_schools_data PSD WHERE SD.ca = PSD.COMMUNITY_AREA_NUMBER AND COLLEGE_ENROLLMENT = 4368"
cursor.execute(left_outer_join_schools_socioeconomic_b)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

NORTH CENTER	4368	6.0

## Question 11: Get the hardship index for the community areas which have the 5 lowest Total Enrollment (sum of College_Enrollment)

In [26]:
'''Option A'''
hardship_total_enrollment = f"SELECT P.COMMUNITY_AREA_NAME, SUM(P.COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT, S.hardship_index FROM public_schools_data P LEFT OUTER JOIN socioeconomic_data S ON P.COMMUNITY_AREA_NUMBER = S.ca GROUP BY P.COMMUNITY_AREA_NAME ORDER BY TOTAL_ENROLLMENT ASC NULLS LAST LIMIT 5"
cursor.execute(hardship_total_enrollment)
rows = cursor.fetchall()

# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

OAKLAND	140	78.0
FULLER PARK	531	97.0
BURNSIDE	549	79.0
OHARE	786	24.0
LOOP	871	3.0

In [27]:
'''Option B'''
hardship_total_enrollment_B = f"SELECT PSD.COMMUNITY_AREA_NAME, SUM(PSD.COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT, hardship_index FROM socioeconomic_data SD, public_schools_data PSD WHERE SD.ca = PSD.COMMUNITY_AREA_NUMBER GROUP BY PSD.COMMUNITY_AREA_NUMBER ORDER BY TOTAL_ENROLLMENT ASC NULLS LAST limit 5"
cursor.execute(hardship_total_enrollment_B)
rows = cursor.fetchall()

columns=[column[0] for column in cursor.description]
print("\t".join(map(str,columns)))
# Extract and print the SQL statement
for row in rows:
    print("\t".join(map(str,row)))

COMMUNITY_AREA_NAME	TOTAL_ENROLLMENT	hardship_index
OAKLAND	140	78.0
FULLER PARK	531	97.0
BURNSIDE	549	79.0
OHARE	786	24.0
LOOP	871	3.0

## Question 12: Get the hardship index for the community area which has the highest value for College Enrollment

In [28]:
hardship_highest_enrollment = '''SELECT PSD.COMMUNITY_AREA_NAME, PSD.COLLEGE_ENROLLMENT, SD.hardship_index FROM socioeconomic_data SD, public_schools_data PSD WHERE SD.ca = PSD.COMMUNITY_AREA_NUMBER AND COLLEGE_ENROLLMENT = (SELECT MAX(COLLEGE_ENROLLMENT) FROM public_schools_data)'''
cursor.execute(hardship_highest_enrollment)
rows = cursor.fetchall()

columns=[column[0] for column in cursor.description]
print("  ".join(map(str,columns)))

for row in rows:
    print("\t".join(map(str,row)))

COMMUNITY_AREA_NAME  COLLEGE_ENROLLMENT  hardship_index
NORTH CENTER	4368	6.0

In [29]:
conn.commit()
conn.close()